
<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset=utf-8>
        <title>{% block title %}{% endblock %} | Tree of Cakes</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        {% block post_head %}{% endblock %}
    </head>

    <body>
        
        {% block header %}
            <a href="/">
                <h1>Tree of Cakes</h1>
            </a>
        {% endblock %}

        <nav>
            <div class="header_nav">
                <table width=50%>
                    <td>
                        <a href="/">Home</a>
                    </td>
                    <td>
                        <a href="/blog/">Blog</a> 
                    </td>
                    <td>
                        <a href="/recipes/">Recipes</a>
                    </td>
                    <td>
                        <a href="/about/">About</a>
                    </td>
                </table>
            </div>
        </nav>

	<table width=100%>
	<tr>
	<td width=50%>
        <section>
            <article>
                {% block content %}{% endblock %}
            </article>
        </section>
	</td>
	<td width=10%>
        {% block sidebar %}
            <aside class="sidebar">
                {% include "includes/sidebar.html" %}
            </aside>
        {% endblock %}
	</td>
	</tr>
	</table>
        {% block footer %}
            <footer>
                <div class="footer_nav">
                    <table>
                        <td>
                            <a href="/">Home</a>
                        </td>
                        <td>
                            <a href="/blog/">Blog</a> 
                        </td>
                        <td>
                            <a href="/recipes/">Recipes</a>
                        </td>
                        <td>
                            <a href="/about/">About</a>
                        </td>
                    </table>
                </div>

                <div class="footer_statement">
                    <aside>        
                        <span>
                            &copy; {% now "Y" %} Chloe Malcolmson &ndash; All rights reserved unless specifically stated.
                        </span>
                    </aside>
                </div>

                <div>
                    <a href="http://www.djangoproject.com/">
                        <img src="https://www.djangoproject.com/m/img/badges/djangomade124x25.gif" border="0" alt="Made with Django." title="Made with Django." />
                    </a>
                </div>

            </footer>
            
        {% endblock %}
    </body>
</html>