{% extends "base.html" %}

{% block title %}{{ object.title }} {% endblock %}


{% block content %}


    <script>
        $(document).on('click', '.votelink', function() { 
            var href = $(this).attr('rel');
            var link = $(this).parents('b');
            var old  = link.html();
            link.html("Processing...")
            $.ajax({
                url: href,
                success: function(response) {
                    if (response.voted) {
                        link.html("Voted!");
                        setTimeout(function () {
                            link.html(old);
                        }, 3000);
                        $('.votes').html('Votes: ' + response.votes);
                    } else {
                        link.html("Already voted!");
                        setTimeout(function () {
                            link.html(old);
                        }, 2000);
                    }
                }
            });
            return false;
        });
    </script>


    <a href="{{ object.get_absolute_url }}">
        <h2>{{ object.title }}</h2>
    </a>

    <div class="recipe_meta">
        by {{ object.author }}
        on {{ object.created }}
        <div class="votes">Votes: {{ object.count_votes }}</div>
    </div>

    <div class="recipe_body">
        {% if ingredients %}
            <h3>Ingredients</h3>
            <ul>
                {% for ingredient in ingredients %}
                    <li>
                        {{ ingredient }} &ndash; {{ ingredient.amount }} {{ ingredient.unit }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <h3>Instructions</h3>
        {{ object.content|safe|linebreaks }}
    </div>

    <div class="recipe_tags"></div>
    <div class="recipe_vote">
        <b>
            <a rel="{{ object.vote_link }}" class="votelink">Vote</a>
        </b>
    </div>
{% endblock %}